<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lexicom: тестовое задание</title>
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="centered">
        <h1 style="font-size: xxx-large; color: #00d2f1; margin: 10% 0 15% 0;">LEXICOM</h1>
        <h1 style="color: #1f1f1f; font-weight: 400; margin: 0 0 8% 0;">Тестовое задание</h1>
        <button onclick="location.href='/docs'">Swagger</button>
        <button onclick="location.href='/redoc'">Redoc</button>
    </div>
</body>
</html>